@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .c-input {
    @apply px-3 py-1 block w-full rounded-md border transition-all border-gray-200  shadow-sm focus:border-gray-500 focus:ring-blue-500 sm:text-sm;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}